/*global style*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.container-section-cover{
    width:80%;
    height:auto;
    display:block;
    margin:auto;
    padding:50px 0 50px 0px;
}
.container-section:nth-child(odd)
{
    background-color:#e9ebff;
}

.container-title{
    font-size:28px;
    color:#6070FF;
    font-weight:bolder;
    display:block;
    width:max-content;
    margin:auto;
    padding-bottom:30px;
}

.Description-making{
    text-align:justify;
    font-size:20px;
    letter-spacing:1;
    line-height:1.5;
    color:#00109d;
}

/*Requirements-section*/
.components-list{
    width:50%;
    text-align:left;
    padding:10px 40px;
    border-right:1px solid #6070FF;
}

.uses-lists{
    text-align:left;
    width:50%;
    padding:10px 40px;
}

th{
    padding:20px 30px;
    font-size:1.2em !important;
    background-color:#6070FF;
    color:white;
    margin:0px;
    border:none;
}

tr:nth-child(even){
    background-color:white;
}

table{
    width:100%;
    color:#00109d;
    border:2px solid #6070FF;
    border-spacing:0px;
    padding:0px;
    font-weight:600;
    font-size:20px;
    letter-spacing:1;
    line-height:1.5;
}

/* Explanation */

.block-diagram-img{
    width: 70%;
    display:block;
    margin:60px auto;
}

/*Hardware configuraion */
.gist {
    width:100%;
    font-size:40px !important;
    height:60vh;
    overflow:auto;
}

.gist *{
    font-size:16px !important;
    line-height:2 !important;
    letter-spacing:1px !important;
    font-family: 'Oswald', sans-serif;
}
.arduino-code{
    display:block;
    width:60%;
    margin:60px auto;
}

.opencexpla{
    padding:10px 40px;
    border-radius:20px;
    font-size:18px;
    background-color:#6070FF;
    border:none;
    color:white;
    font-weight:bolder;
    letter-spacing:1px;
    font-family: 'Oswald', sans-serif;
    position:relative;
    display:block;
    margin:auto;
    z-index:1;
}
code.ce{
    color:#404dc8;
    font-weight:bold;
}

.code-explanation-description{
    word-spacing:2px !important;
    line-height:1.5!important;
}

#opencexpla{
    background-color:white;
    border-radius:20px;
    padding:40px;
    width:80%;
    display:none;
    margin:auto;
    position:relative;
    margin-top:-15px;
    z-index:0;
}

